#
# firebase-oskey-dev
# Copyright (c) 2021-2025, OSkey SAS. All rights reserved.
#

# Logs
logs
*.log

# level-5-engineering
/output



# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm


# dotenv environment variables file

# Stores VSCode versions used for testing VSCode extensions
.vscode-test

# yarn v2
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*

# Temporary folders
.tmp/
tmp/


# secret
.secret.local
.secret.dev
.secret.staging
.secret.prod

# Mac
.DS_Store



# End 